.subject-text {
	border-bottom: 1px solid #cfcfcf;
}
.message {
	margin: 5px 0;
	padding: 10px 15px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.sender {
	text-align: left;
}
.date-sent {
	text-align: right;
}
.all-messages {
	margin-bottom: 20px;
}
.reply-box {
	margin: 15px 0 20px 0;
}
.thread-member {
	font-weight: bold;
}
.reply-holder {
	text-align: right;
}
.help-inline {
	margin-bottom: 10px;
	height: 0;
}
.subject-text {
	display: inline-block;
}
.btn-danger {
	float: right;
}
.pull-left {
	margin: 0 0 5% 5%;
}
.pull-right {
	margin: 0 5% 5% 0;	
}
