.dropdown-toggle:hover {
	cursor: pointer;
}
.unread-messages {
	display: inline-block;
}
.nav-collapse .nav {
	float: none;
	min-width: 1075px;
}
.navbar {
	min-width: 1095px;
}
.modal {
	width: 80%;
	left: 10%;
	margin: 0;
}
.law-list {
	list-style: none;
}
.law-name {
	font-size: 20px;
	line-height: 25px;
	cursor: pointer;
}
.law-description {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}
.law-description.show {
	max-height: 160px;
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}

@media (max-width: 979px) {
	.nav-collapse .nav {
		min-width: inherit;
	}
	.navbar {
		min-width: inherit;
	}
}