.threads {
	line-height: 30px;
	margin: 2px 0 2px 0;
	cursor: pointer;
}
.thread:hover {
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-error:hover {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}
.members,
.subject,
.message {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 30px;
}
.alert-error {
	border-radius: 3px;
}
.subject {
	font-weight: bold;
}
.checkbox {
	margin-left: 1%;
}
.btn-group {
	float: right;
}
.delete-btn {
	display: none;
}